{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <br><br><br>
  <div class="container" >
    <div class="row">
  	  {% if post %} 
        <h1 align="center">{{ post.title }}</h1>
       	<br><br>
        <p>Post by: {{post.author}} on {{post.published}}</p>
       	<br>
       	{{post.news}}
      {% else %}
      	<p>There's no post avaialable</p>
          <br><br><br>	  
      {% endif %}

    <br><br><br>
	    <form action="" method="post">
  	   	  {% csrf_token %}
          {{comment_form | crispy}}
          <br>
  	   	  <input type="Submit" value="Add Comment" class="btn btn-success">
  	   	</form>
  	  
	  
	  	</div>  
      <br>
	    {% with comments.count as total_comment %}
        <h3 class="text text-info"> 
          {{  total_comment}} comment{{total_comment | pluralize}}
        </h3>

      {% endwith %}
    <ul>
      {% for comment in comments %}
        <li>
          <p>
          comment {{forloop.counter}} by {{comment.name}}
          on {{comment.created}} 
          </p>
          {{comment.body | linebreaks }}
       </li>
      {% empty %}
        no comments yet
      {% endfor %}
    </ul>
  </div>

  </div>
{% endblock %}
